<header>
  <div class="header-logo">
    <a href="/">milk_app</a>
  </div>

  <ul class="header-menus">
    <li>
      <a href="/about">自己紹介</a>
    </li>
  </ul>

 <ul class="header-menus">
      <li> 
        <a href="/nikki/index">成長記録</a>
      </li>
     </ul>
  
   <ul class="header-menus">
      <li>
        <a href="/movie">movie</a>
      </li>
     </ul>

   <ul class="header-menus">
        <li>
          <a href="/Photo">Photo</a>
        </li>
       </ul>

</header>
</div>
<div class="about-main">
  <h2>toypoodle MILK </h2>
  <p>
   <li>2018年5月22日生まれ</li>
   <li>元気いっぱいやんちゃな男の子</li>
  </p>
  <ul>
    <div class="tokutyou1">
      <li>＜好きなこと＞</li>
    </div>
   <li>人が大好き</li>
   <li>女の子大好き（犬も人も）</li>
   <li>もふもふのブランケットをカミカミすること</li>
   <li>毎日のお散歩</li>
   <li>ささみのおやつ</li>
   <li>プーさんのおもちゃを取ってくる遊び</li>
  </ul>
  <ul>
    <div class="tokutyou2">
      <li>＜嫌いなこと＞</li>
    </div>
   <li>犬が全般的に無理</li>
   <li>かまって貰えない時</li>
   <li>髪留めクリップ</li>
   <li>急なお風呂タイム（洗われるのが嫌いです）</li>
  </ul>
  <ul>
    <li>twitterのリンク↓ </li>
    <a href="http://twitter.com/haruchannna">みるくアカウント</a>
</div>
 <div class="nikuk"> 
       <img class="n1" src="assets/肉球.png">
       <img class="n2" src="assets/肉球.png">
       <img class="n4" src="assets/肉球.png">
       <img class="n5" src="assets/肉球.png">
       <img class="n6" src="assets/肉球.png">
     </div>
