 <header>
   <div class="header-logo">
     <a href="/">milk_app</a>
   </div>

   <ul class="header-menus">
     <li>
       <a href="/about">自己紹介</a>
     </li>
   </ul>

  <ul class="header-menus">
     <li>
       <a href="/nikki/index">成長記録</a>
     </li>
    </ul>

  <ul class="header-menus">
     <li>
       <a href="/movie">movie</a>
     </li>
    </ul>

  <ul class="header-menus">
      <li>
        <a href="/Photo">Photo</a>
      </li>
     </ul>
 </header>
 
 </div><div class="main top-main">
   <div class="top-message">
     <h2>BEST milk's movie</h2>
     <div class="milk_mv">
       <video src="assets/milk.mp4" autoplay muted></video>
         <div class="nikuk">                          
         <img class="n1" src="assets/肉球.png">
         <img class="n2" src="assets/肉球.png">
         <img class="n4" src="assets/肉球.png">
         <img class="n5" src="assets/肉球.png">
         <img class="n6" src="assets/肉球.png">
       </div>
    </div>
   </div>
 </diV>
